{{ template "header" }}
<main>
    <div class="container-fluid">

        <!--<ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>-->

        <div class="row mt-4" >
            <div class="col-12">
                <div class="card mb-4">
                   <div class="card-header">
                        Fixtures
                    </div>
                    <div class="card-body p-0">

                        <div class="table-responsive">
                            <table class="table table-striped">


                                    {{range $k,$v := .Devices}}
                                <tr>
                                    <td width="30%">{{title $k}}</td>
                                   <td>
                                       {{$entry := ($v.Command)}}
                                     {{range $kk,$vv := $entry}}
                                       <a class="btn {{colorcmd $kk}}" href="/device/{{$k}}/{{$kk}}">{{title $kk}}</a>
                                       {{end}}
                                   </td>
                                </tr>
                                    {{end}}

                            </table>
                        </div>

                    </div>
                </div>
            </div>

        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header">
                    Scenes
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            {{range $k,$v := .Scenes}}
                            <tr>
                                {{$entry := ($v.Command)}}
                                <td width="30%">{{title $k}} <small>({{$v.Note}})</small></td>
                                <td>

                                    {{range $kk,$vv := $entry}}
                                    <a class="btn {{colorcmd $kk}}" href="/device/{{$k}}/{{$kk}}">{{title $kk}}</a>
                                    {{end}}
                                </td>
                            </tr>
                            {{end}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
</main>
{{ template "footer" }}